<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Lista de médicos</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<body>
	<header th:replace="fragments/header :: menuSuperior"> <div>header</div> </header>
	<div class="container my-5 col-md-11">
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<div class="row">
					<h5 class="panel-title">Lista de medicos</h5>
					<a class="btn btn-primary ml-3 mb-2" th:href="@{/sig/medico}">Adicionar médico</a>	
				</div>
				<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
					rel="stylesheet" />
				<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
					rel="stylesheet" />
			</div>
			
			<div class="panel-body" th:switch="${medicos}">
				<div th:case="*">
					<table class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>CPF</th>
								<th>Nome</th>
								<th>E-mail</th>
								<th>CEP</th>
								<th>Endereço Pessoal</th>
								<th>Endereço Hospital</th>
								<th>Carga Horaria</th>
								<th>Especialidade</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="medico : ${medicos}">
								<td th:text="${medico.id}"></td>
								<td th:text="${medico.cpf}"></td>
								<td th:text="${medico.nome}"></td>
								<td th:text="${medico.email}"></td>
								<td th:text="${medico.cep}"></td>
								<td th:text="${medico.endereco}"></td>
								<td th:text="${medico.logradouroHospital}"></td>
								<td th:text="${medico.cargaHoraria}"></td>
								<td th:text="${medico.especialidade}"></td>
								<td>
									<div class="btn-group pull-right">
										<a class="btn btn-sm btn-primary"
											th:href="@{/sig/medico/editView/{cpf}(cpf=${medico.cpf})}">Editar</a>
										<a class="delete btn btn-sm btn-danger"
											th:href="@{/sig/medico/{id}(id=${medico.id})}">Excluir</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>